<div class="stat-card position-relative overflow-hidden">
  <img [src]="iconUrl()" [alt]="label()" class="stat-bg w-100 h-100" />
  <div class="stat-overlay position-absolute top-0 start-0 end-0 bottom-0 d-flex flex-column 
  justify-content-center align-items-center text-center text-white">
    <p class="stat-label mb-3 ">{{ label() }}</p>
    <div class="px-3 stat-value-wrap"[class.align-self-start]="label() === 'عدد الوحدات السكنية'">
      <span class="plus-sign ">+</span>
      <span class="stat-value ">{{ value() }}</span>
    </div>
  </div>
</div>