.blog-card__img-wrap {
  height: 257px;
  background-color: #D9D9D9;
  @media (max-width: 575px) {
    height: 210px;
  }
}

.blog-card__img {
  border-radius: 24px;
}


.blog-card {
  transition: transform 0.15s ease;

  &:hover {
    transform: translateY(-2px);

    .blog-card__link:hover {
      color: #15A94B;

      i {
        transform: translateX(-10px);
      }
    }

    color: #15A94B;

    i {
      transform: translateX(-10px);
    }
  }
}

.blog-card__title {
  font-weight: 700;
  font-size: 19px;
  color: #5865AD;
  line-height: 38px;
}

.blog-card__excerpt {
  display: -webkit-box;
  font-weight: 500;
  font-size: 14px;
  line-height: 25px;
}

.blog-card__date {
  color: #5865AD;
}

.blog-card__link {
  color: #15A94B;
  font-size: 12px;
  font-weight: 500;
  i {
    transform: translateX(-5px);
    transition: all 0.15s ease;
  }
}
