<div class="unit-specs mb-5">
  <div class="main-info d-flex justify-content-between align-items-center mb-4">
    <span class="title">{{ data().name }}</span>
  </div>

  <div class="specs d-flex flex-wrap gap-3">
    <span>
      <i class="fa-solid fa-location-dot"></i>
      {{ data().address }}
    </span>

    @if (data().rooms) {
      <span>
        <i class="fa-solid fa-bed"></i>
        عدد الغرف : {{ data().rooms }}
      </span>
    }

    @if (data().salons) {
      <span>
        <i class="fa-solid fa-couch"></i>
        عدد الصالات : {{ data().salons }}
      </span>
    }

    @if (data().area) {
      <span>
        <i class="fa-solid fa-ruler-combined"></i>
        المساحة : {{ data().area }} * {{ data().area }}
      </span>
    }

    @if (data().streetCount) {
      <span>
        <i class="fa-solid fa-road"></i>
        {{ data().streetCount }} شارع
      </span>
    }
  </div>
</div>
