<div class="form-side d-flex align-items-end">
  <div class="form-container text-end w-100">
    <p class="section-tag my-5">اتصل بنا</p>

    <h2 class="title mb-4">احصل على استشارات اليوم مجانا !</h2>

    <div class="row g-3 text-end">
      <div class="col-md-6">
        <label>الاسم الكامل</label>
        <input
          type="text"
          placeholder="الاسم الكامل"
          class="form-control"
          (input)="updateField('firstName', $any($event.target).value)"
        />
      </div>

      <div class="col-md-6">
        <label>البريد الالكتروني</label>
        <input
          type="email"
          placeholder="البريد الالكتروني"
          class="form-control"
          (input)="updateField('email', $any($event.target).value)"
        />
      </div>

      <div class="col-12">
        <label>موضوع الرسالة</label>
        <input
          type="text"
          placeholder="أدخل موضوع الرسالة"
          class="form-control"
          (input)="updateField('subject', $any($event.target).value)"
        />
      </div>

      <div class="col-12">
        <label>اكتب رسالتك</label>
        <textarea
          rows="4"
          class="form-control"
          placeholder="اكتب هنا"
          (input)="updateField('message', $any($event.target).value)"
        ></textarea>
      </div>

      <div class="col-12 text-end">
        <button class="btn send-btn">ارسال <i class="fa-solid fa-arrow-left"></i></button>
      </div>
    </div>
  </div>
</div>
