<section class="contact-section">

  <div class="container-fluid p-0">
    <div class="row g-0">



      <!-- RIGHT: INFO -->
      <div class="col-lg-6 info-side d-flex align-items-center">

        <div class="overlay"></div>

        <div class="info-content text-white">

          <h5 class="mb-3">العنوان</h5>
          <p>4578 شارع القبضة - جدة، السعودية</p>

          <hr>

          <h5 class="mb-3">أوقات العمل</h5>
          <p>السبت - الخميس : 11:00 - 18:00</p>

          <hr>

          <h5 class="mb-3">معلومات الاتصال</h5>
          <p>+966 586 - 94756</p>
          <p>hello@jadaoola.com</p>

          <hr>

          <h5 class="mb-3">تابعنا</h5>

          <div class="social">
            <span><i class="bi bi-linkedin"></i></span>
            <span><i class="bi bi-twitter-x"></i></span>
            <span><i class="bi bi-tiktok"></i></span>
            <span><i class="bi bi-instagram"></i></span>
            <span><i class="bi bi-facebook"></i></span>
          </div>

        </div>

      </div>

            <!-- LEFT: FORM -->
      <div class="col-lg-6 form-side d-flex align-items-center">

        <div class="form-container text-center w-100">

          <small class="section-tag">اتصل بنا</small>

          <h2 class="title mb-4">
            احصل على استشارات اليوم مجاناً !
          </h2>

          <div class="row g-3 text-end">

            <div class="col-md-6">
              <label>الاسم الكامل</label>
              <input type="text" class="form-control"
                     (input)="updateField('firstName', $any($event.target).value)">
            </div>

            <div class="col-md-6">
              <label>البريد الالكتروني</label>
              <input type="email" class="form-control"
                     (input)="updateField('email', $any($event.target).value)">
            </div>

            <div class="col-12">
              <label>موضوع الرسالة</label>
              <input type="text" class="form-control"
                     (input)="updateField('subject', $any($event.target).value)">
            </div>

            <div class="col-12">
              <label>اكتب رسالتك</label>
              <textarea rows="4" class="form-control"
                        (input)="updateField('message', $any($event.target).value)">
              </textarea>
            </div>

            <div class="col-12 text-start">
              <button class="btn send-btn">
                ارسال →
              </button>
            </div>

          </div>

        </div>

      </div>

    </div>
  </div>

</section>
