<footer class="footer pt-5">
  <div class="container">
    <div class="row gy-4">
      <div class="col-lg-3 col-md-6 text-center text-md-end">
        <img src="images/logo.png" class="footer-logo mb-3" />

        <p class="footer-text">
          ثقتكم بنا أهم أهدافنا ولها كرسنا كل الادوات والبرامج والخبرات للحصول عليها والاحتفاظ بها,
          تحت شعار we care نحن نهتم.
        </p>

        <p class="footer-follow">تابعنا</p>

        <div class="footer-social d-flex justify-content-center justify-content-md-start gap-2">
          <i class="fa-brands fa-instagram"></i>
          <i class="fa-brands fa-facebook"></i>
          <i class="fa-brands fa-tiktok"></i>
          <i class="fa-brands fa-x-twitter"></i>
          <i class="fa-brands fa-linkedin-in"></i>
        </div>
      </div>

      <!-- 🔷 Services -->
      <div class="col-lg-3 col-md-6 text-center text-md-end">
        <h6 class="footer-title">الخدمات</h6>
        <ul class="footer-links">
          <li>التقييم العقاري</li>
          <li>دراسات عقارية</li>
          <li>إدارة الأملاك</li>
          <li>التسويق العقاري</li>
          <li>تصوير العقار بتقنية 3D</li>
          <li>المزادات</li>
        </ul>
      </div>

      <!-- 🔷 Quick Links -->
      <div class="col-lg-3 col-md-6 text-center text-md-end">
        <h6 class="footer-title">روابط سريعة</h6>
        <ul class="footer-links">
          <li>المقالات والأخبار</li>
          <li>الشروط والأحكام</li>
          <li>سياسة الخصوصية</li>
          <li>من نحن</li>
          <li>تواصل معنا</li>
          <li>شكاوي واستفسارات</li>
        </ul>
      </div>

      <!-- 🔷 Contact -->
      <div class="col-lg-3 col-md-6 text-center text-md-end">
        <h6 class="footer-title">تواصل معنا</h6>

        <ul class="footer-contact">
          <li>
            <i class="fa-brands fa-whatsapp"></i>
            <a href="">201014341601+</a>
          </li>

          <li>
            <i class="fa-solid fa-envelope"></i>
            <a href="">realestate@interior.com</a>
          </li>

          <li>
            <i class="fa-solid fa-location-dot"></i>
            <span>4578 شارع أبيضة شارع جدة، السعودية</span>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <!-- 🔻 Bottom Bar -->
  <div class="footer-bottom mt-4 py-3">
    <div
      class="container d-flex flex-column flex-md-row justify-content-between text-center text-md-between"
    >
      <div class="footer-bottom-links my-2">
        <a href="#">الشروط و الاحكام</a>
      </div>
      <span class="my-2">جميع الحقوق محفوظة شركة العقارات 2020 &copy;</span>

      <div class="footer-bottom-links my-2">
        <a href="#">سياسة الخصوصية</a>
      </div>
    </div>
  </div>
</footer>
