.unit-details-page {
  direction: rtl;
  margin-top: 2rem;
  padding-bottom: 70px;
}

.top-line {
  direction: rtl;
}

.unit-status {
  color: var(--text-green);
}

.unit-price {
  color: var(--primary-color);
}
