.card-box {
  background: #5B60A508;
  border-radius: 19.66px;
  transition: 0.3s;
  cursor: pointer;
  height: 268px;
  color: var(--primary-color);
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.card-box .icon {
  width: 43px;
  height: 43px;
  background: var(--primary-color);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-box .icon i {
  font-size: 16px;
  color: var(--text-light);
}

.title-card{
  color: var(--primary-color);
  font-size: 14px;
  margin-bottom: 15px;
}
.description{
  color: var(--text-dark);
  line-height:1.8;
  font-size: 12px;
  max-width: 200px;
  height: 75px ;
}
.card-box:hover {
  transform: translateY(-5px);
  background: var(--primary-color);
  color: var(--text-light);
}

/* ICON ON HOVER */
.card-box:hover .icon {
  background: var(--text-light);
}

.card-box:hover .title-card{
  color: var(--text-light);
}

.card-box:hover .icon i {
  color: var(--primary-color);
}

/* TEXT ON HOVER */
.card-box:hover p,
.card-box:hover .read-more {
  color: var(--text-light);
}

.read-more {
  color: #28a745;
  font-size: 14px;
  text-decoration: none;
}
