<article class="unit-card" tabindex="0" [routerLink]="project()?.id ? ['/project-details', project()?.id] : null" style="cursor: pointer;">
  <!-- IMAGE -->
  <div class="unit-media">
    <img
      [src]="project()?.imageURL"
      width="900"
      height="650"
      [alt]="project()?.title"
    />

    <!-- BADGE -->
    <span class="unit-badge">
      <i class="fa-solid fa-wand-magic-sparkles"></i>
      <span>{{ project()?.type }}</span>
    </span>


    <!-- LOCATION -->
    <div class="unit-location" aria-label="الموقع">
      <i class="fa-solid fa-location-dot" aria-hidden="true"></i>
      <span>{{ project()?.location }}</span>
    </div>
  </div>

  <!-- CONTENT -->
  <div class="unit-body">
    <h3 class="unit-title text-end">{{ project()?.title }}</h3>

    <!-- FEATURES -->
    <div class="unit-features" aria-label="المواصفات" style="grid-template-columns: repeat(3, 1fr) !important;">
      @if (project()?.buildings !== undefined) {
        <span class="feature">
          <i class="fa-solid fa-building" title="المباني"></i>
          <span class="feature-value">{{ project()?.buildings | number:'2.0-0' }}</span>
          <span class="feature-label">مباني</span>
        </span>
      }

      @if (project()?.units !== undefined) {
        <span class="feature">
          <i class="fa-solid fa-house-user" title="الوحدات السكنية"></i>
          <span class="feature-value">{{ project()?.units | number:'2.0-0' }}</span>
          <span class="feature-label">وحدة سكنية</span>
        </span>
      }

      @if (project()?.area) {
        <span class="feature">
          <i class="fa-solid fa-ruler-combined" title="المساحة"></i>
          <span class="feature-value">{{ project()?.area }}</span>
        </span>
      }
    </div>
  </div>
</article>
