<article class="unit-card" tabindex="0">
  <!-- IMAGE -->
  <div class="unit-media">
    <img
      [src]="project()?.imageURL"
      width="900"
      height="650"
      [alt]="project()?.title"
    />

    <!-- BADGE -->
    <span class="unit-badge">
      <i class="fa-solid fa-wand-magic-sparkles"></i>
      <span>{{ project()?.type }}</span>
    </span>


    <!-- LOCATION -->
    <div class="unit-location" aria-label="الموقع">
      <i class="fa-solid fa-location-dot" aria-hidden="true"></i>
      <span>{{ project()?.location }}</span>
    </div>
  </div>

  <!-- CONTENT -->
  <div class="unit-body">
    <h3 class="unit-title text-end">{{ project()?.title }}</h3>

    <!-- FEATURES -->
    <div class="unit-features" aria-label="المواصفات">
      @if (project()?.title !== undefined) {
        <span class="feature">
          <i class="fa-solid fa-house-chimney"></i>
          <span class="feature-value">{{ project()?.beds| number:'2.0-0' }}</span>
          <span class="feature-label">غرف</span>
        </span>
      }

      @if (project()?.lounges !== undefined) {
        <span class="feature">
          <i class="fa-solid fa-couch" aria-hidden="true"></i>
          <span class="feature-value">{{ project()?.lounges | number:'2.0-0' }}</span>
          <span class="feature-label">صالات</span>
        </span>
      }

      @if (project()?.area) {
        <span class="feature">
          <i class="fa-solid fa-vihara"></i>
          <span class="feature-value">{{ project()?.area }}</span>
        </span>
      }

    </div>
  </div>
</article>
